name: i18n.core

on: push

env:
  DOTNET_VERSION: 5.0.202
  GITVERSION_VERSION: 5.6.6
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1 

jobs:
  
  setup:    
    name: Setup
    runs-on: ubuntu-latest
    outputs:
      BUILD_VERSION: ${{ steps.set-version.outputs.BUILD_VERSION }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      
      - name: Add dotnet tools to environment path
        shell: pwsh
        run: echo "${HOME}/.dotnet/tools" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
        
      - id: set-version
        name: Setup GitVersion and set build version
        shell: pwsh
        run: |
          dotnet tool update GitVersion.Tool --global --version ${{ env.GITVERSION_VERSION }}
          $BUILD_VERSION = (dotnet gitversion /showVariable NugetVersionv2) | out-string
          echo "BUILD_VERSION=$BUILD_VERSION" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append 
          echo "::set-output name=BUILD_VERSION::$BUILD_VERSION"

  build:
    name: Build
    runs-on: ${{ matrix.os }}
    needs: [setup]
    env:
      BUILD_VERSION: ${{ needs.setup.outputs.BUILD_VERSION }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
    steps:
      
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
          lfs: true

      - name: Setup dotnet v${{ env.DOTNET_VERSION }}
        uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
                      
      - name: Build
        shell: pwsh
        run: |
          pwsh -c ".\${{ env.GITHUB_WORKSPACE }}\build.ps1" -Target Build -Version ${{ env.BUILD_VERSION }} -Nupkg -CI
          echo "${{ env.BUILD_VERSION }}" | Out-File ".\${{ env.GITHUB_WORKSPACE }}\nupkgs\nupkg_version.txt"

      - name: Test pot tool v${{ env.BUILD_VERSION }}
        shell: pwsh
        run: pwsh -c ".\${{ env.GITHUB_WORKSPACE }}\build.ps1" -Target Test-Pot -Version ${{ env.BUILD_VERSION }} -CI
        
      - name: Upload nupkg
        if: success()
        uses: actions/upload-artifact@v2
        with:
          name: nupkgs-${{ matrix.os }}
          path: ${{ github.workspace }}/nupkgs/**/*
        
  publish:
     if: success()
     runs-on: ubuntu-latest
     name: Publish nuget packages
     needs: [build]
     steps:
      
      - name: Checkout
        uses: actions/checkout@v2.3.4
          
      - name: Download nupkgs
        uses: actions/download-artifact@v2
        with:
          name: nupkgs-windows-latest
          path: ${{ github.workspace }}/nupkgs
          
      - name: Push nuget packages 
        shell: pwsh
        run: | 
          $nupkgs = Get-ChildItem ".\${{ env.GITHUB_WORKSPACE }}\nupkgs" -Filter *.nupkg | Select-Object -ExpandProperty FullName
          
          $nupkgs | ForEach-Object -Parallel {
            dotnet nuget push $_ --source nuget.org --api-key ${{ secrets.PETERSUNDE_NUGET_ORG_API_KEY }}       
          }
            
          $nupkg_version = Get-Content ".\${{ env.GITHUB_WORKSPACE }}\nupkgs\nupkg_version.txt"
          echo "NUPKG_VERSION=$NUPKG_VERSION" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append 
          
      - name: Create github release tag
        if: success() && github.ref == 'refs/heads/master'
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ env.NUPKG_VERSION }}
          release_name: Release v${{ env.NUPKG_VERSION }}
          draft: true
          prerelease: false
